@model Izin
@{
    ViewBag.Title = "Izin";
}

@section css{
    <link rel="stylesheet" href="~/Content/AdminTema/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/Content/AdminTema/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/Content/AdminTema/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/AdminTema/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/AdminTema/dist/css/adminlte.min.css">

}

<div class="card card-primary card-outline">
    <div class="card-header p-0">
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item active"><a class="nav-link active" href="#tab_1" data-toggle="tab">İzin Talepleri</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Personel İzinlerini Görüntüle</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Yeni İzin Ekle</a></li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Personel Adı/Soyadı</th>
                            <th>İzin Başlangıç Talebi</th>
                            <th>İzin Bitiş Talebi</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Izin izin in (List<Izin>)ViewBag.PersonelIzinTalep)
                        {
                            <tr>
                                <td>@izin.Kullanici.ad @izin.Kullanici.soyad</td>
                                <td>@izin.baslamaTarihi.Value.ToShortDateString()</td>
                                <td>@izin.bitisTarihi.Value.ToShortDateString()</td>
                                <td>
                                    <a href="/Izin/Onayla/@izin.izinID" class="btn btn-sm btn-success">
                                        <i class="fa fa-check"></i>
                                    </a>
                                    <a href="/Izin/Duzenle/@izin.izinID" class="btn btn-sm btn-info">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="/Izin/Sil/@izin.izinID" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="tab_2">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            @*tablo satırı*@
                            <th>Profil Resmi</th>
                            <th>Ad Soyad</th> @*tablo sütunu*@
                            <th>İzin Başlama Tarihi</th>
                            <th>İzin Bitiş Tarihi</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Izin izin in (List<Izin>)ViewBag.IzinListe)
                        {
                            <tr>
                                <td><img src="~/Content/Images/Personel/@izin.Kullanici.resim" width="40" /></td>
                                <td>@izin.Kullanici.ad @izin.Kullanici.soyad </td>
                                <td>@Convert.ToDateTime(izin.baslamaTarihi).ToShortDateString()</td>
                                <td>@Convert.ToDateTime(izin.bitisTarihi).ToShortDateString()</td>
                                <td>
                                    <a href="/Izin/Duzenle/@izin.izinID" class="btn btn-sm btn-info">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="/Izin/Sil/@izin.izinID" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="tab_3">
                <div class="card">
                    <div class="card-header">
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <h3>İzin Ekle</h3>
                                </td>
                                <td style="text-align:right;">
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="card-body">
                        @using (Html.BeginForm("Ekle", "Izin", FormMethod.Post, new { enctype = "multipart/form-data" })) //enctype = multiport.. resim, ses gibi dosyalar ekleneceği zaman
                        {
                            <div class="form-group">
                                <label for="ad">Ad</label>
                                @Html.DropDownListFor(x => x.kullaniciID, ViewBag.PersonelListe as SelectList, "Personel Seçiniz", new { @class = "form-control select2bs4" })

                            </div>

                            <div class="form-group">
                                <label for="izinBaslama">İzin Başlama Tarihi </label>
                                @Html.TextBoxFor(x => x.baslamaTarihi, new { @class = "form-control col-sm-3", placeholder = "İzin Başlama Tarihi Giriniz", type = "date" })
                            </div>
                            <div class="form-group">
                                <label for="izinBitis">İzin Bitiş Tarihi</label>
                                @Html.TextBoxFor(x => x.bitisTarihi, new { @class = "form-control col-sm-3", placeholder = "İzin Bitiş Tarihi Giriniz", type = "date" })
                            </div>

                            <button type="submit" class="btn btn-primary">Ekle</button>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section js{

    <script src="~/Content/AdminTema/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/AdminTema/plugins/select2/js/select2.full.min.js"></script>

    <script src="~/Content/AdminTema/plugins/moment/moment.min.js"></script>
    <script type="text/javascript">

        $(function () {

            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
        });



    </script>
}
